async-timeout==4.0.3
bleak==0.22.1
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
colorzero==2.0
config==0.5.1
dbus-fast==2.34.0
gpiozero==2.0.1
idna==3.10
lgpio==0.2.2.0
oauthlib==3.2.2
pigpio==1.78
pillow==11.2.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
qasync==0.27.1
requests==2.32.3
requests-oauthlib==2.0.0
RPi.GPIO==0.7.1
rsa==4.9.1
spidev==3.7
typing_extensions==4.12.2
urllib3==2.3.0
